<a href="https://colab.research.google.com/github/malhammam1/Maha_csci_1070/blob/master/assignment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/malhammam1/Maha_csci_1070.git

Cloning into 'Maha_csci_1070'...
remote: Enumerating objects: 50, done.
remote: Counting objects: 100% (50/50), done.
remote: Compressing objects: 100% (41/41), done.
remote: Total 50 (delta 16), reused 31 (delta 6), pack-reused 0
Receiving objects: 100% (50/50), 151.56 KiB | 12.63 MiB/s, done.
Resolving deltas: 100% (16/16), done.

In [2]:
%cd Maha_csci_1070

/content/Maha_csci_1070

In [5]:
!git clone https://github.com/lexmckenz/csci_1070.git

Cloning into 'csci_1070'...
remote: Enumerating objects: 206, done.
remote: Counting objects: 100% (41/41), done.
remote: Compressing objects: 100% (32/32), done.
remote: Total 206 (delta 16), reused 29 (delta 6), pack-reused 165
Receiving objects: 100% (206/206), 14.54 MiB | 18.63 MiB/s, done.
Resolving deltas: 100% (78/78), done.

In [6]:
%cd csci_1070

/content/Maha_csci_1070/csci_1070

In [7]:
import psycopg2
import pandas as pd

def run_query(query):
    try:
        conn = psycopg2.connect(
            host=",
            port="
            database="dvdrental",
            user="malhammam1",
            password="3432243MM"
        )
        df = pd.read_sql(query, conn)
        conn.close()
        return df
    except psycopg2.Error as e:
        print(f"Error: {e}")
        return None


query = "SELECT * FROM payment LIMIT 5;"
payments_df = run_query(query)
print(payments_df)

Error: connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (::1), port 5432 failed: Cannot assign requested address
	Is the server running on that host and accepting TCP/IP connections?

None

In [ ]:
SELECT first_name, last_name
FROM customer
WHERE last_name LIKE 'T%'
ORDER BY first_name;

In [ ]:
SELECT rental_id, rental_date, return_date
FROM rental
WHERE return_date BETWEEN '2005-05-28' AND '2005-06-01';

In [ ]:
SELECT film.title, COUNT(rental.rental_id) AS rental_count
FROM rental
JOIN inventory ON rental.inventory_id = inventory.inventory_id
JOIN film ON inventory.film_id = film.film_id
GROUP BY film.title
ORDER BY rental_count DESC
LIMIT 10;

In [ ]:
SELECT customer.first_name, customer.last_name, SUM(payment.amount) AS total_spent
FROM payment
JOIN customer ON payment.customer_id = customer.customer_id
GROUP BY customer.first_name, customer.last_name
ORDER BY total_spent ASC;

In [ ]:
SELECT CONCAT(actor.first_name, ' ', actor.last_name) AS actor_name, COUNT(film_actor.film_id) AS movie_count
FROM film
JOIN film_actor ON film.film_id = film_actor.film_id
JOIN actor ON film_actor.actor_id = actor.actor_id
WHERE film.release_year = 2006
GROUP BY actor_name
ORDER BY movie_count DESC
LIMIT 1;

In [ ]:
EXPLAIN ANALYZE
SELECT customer.first_name, customer.last_name, SUM(payment.amount) AS total_spent
FROM payment
JOIN customer ON payment.customer_id = customer.customer_id
GROUP BY customer.first_name, customer.last_name
ORDER BY total_spent ASC;

In [ ]:
EXPLAIN ANALYZE
SELECT CONCAT(actor.first_name, ' ', actor.last_name) AS actor_name, COUNT(film_actor.film_id) AS movie_count
FROM film
JOIN film_actor ON film.film_id = film_actor.film_id
JOIN actor ON film_actor.actor_id = actor.actor_id
WHERE film.release_year = 2006
GROUP BY actor_name
ORDER BY movie_count DESC
LIMIT 1;

In [ ]:
SELECT category.name AS genre, AVG(film.rental_rate) AS avg_rental_rate
FROM film
JOIN film_category ON film.film_id = film_category.film_id
JOIN category ON film_category.category_id = category.category_id
GROUP BY category.name
ORDER BY avg_rental_rate DESC;

In [ ]:
SELECT category.name AS genre, COUNT(rental.rental_id) AS rental_count, SUM(payment.amount) AS total_sales
FROM rental
JOIN inventory ON rental.inventory_id = inventory.inventory_id
JOIN film ON inventory.film_id = film.film_id
JOIN film_category ON film.film_id = film_category.film_id
JOIN category ON film_category.category_id = category.category_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY category.name
ORDER BY rental_count DESC
LIMIT 5;